body {
	margin: 0;
}
	
h1 {display: none;}
img {display: none;}

p {
	padding: 0;
	margin: 0;
}

form {
  background: #f2f2f2;
  padding: 20px 2.05%;
  zoom: 1;
  position: relative;
  margin-top: 20px;
}

.template1-content { padding: 0 !important; }
table { margin: 0 !important; }
.wd_subcategories { display: block; }

.wd_form_field_input { 
	margin: 0 !important;
	width: auto;
}

.wd_form_field_input input { 
	font-size: 1.3em;
	padding: 5px;
	max-width: 85%;
}

.wd_form_field {
	width: 30%;
	margin: 0 !important;
	float: left;
}

.wd_form_field:nth-child(1) { margin-bottom: 20px !important; }
.wd_form_field:nth-child(even) { width: 45%; }
.wd_form_field:nth-child(odd) { width: 45%; }

.wd_form_field:nth-child(2) {
	float: none;
	width: 100%;
	margin-bottom: 20px !important;
	padding-bottom: 10px;
	border-bottom: 1px solid #a0a1a3;
}

.wd_category_checkbox {
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
}

.wd_form_field:nth-child(5),
.wd_form_field:nth-child(6),
.wd_form_field:nth-child(7),
.wd_form_field:nth-child(8),
.wd_form_field:nth-child(9),
.wd_form_field:nth-child(10){
	padding-bottom: 20px; 
}

.wd_form_field_pos_right .wd_form_field_label {
	width: 92px !important;
	padding-right: 5px;
}

.wd_form_field:nth-child(8),
.wd_form_field:nth-child(9) { margin-bottom: 20px !important; }

.wd_form_field:nth-child(10) .wd_form_field_label {
	text-align: left;
	width: 90% !important;
}

.wd_form_field:nth-child(10) .wd_form_field_input {
	float: left;
	margin-bottom: 40px !important;
}

.wd_form_field:nth-child(11),
.wd_form_field:nth-child(12),
.wd_form_field:nth-child(13) {
	float: left;
}

.wd_form_field:nth-child(11) { position: relative; }
.wd_form_field:nth-child(11) .wd_form_field_input { position: absolute; }

.wd_form_field:nth-child(11) .wd_form_field_label {
	position: relative;
	width: 90%;
	left: 27px;
}

.wd_form_field:nth-child(10) .wd_form_field_label,
.wd_form_field:nth-child(11) .wd_form_field_label,
.wd_form_field:nth-child(12) .wd_form_field_label,
.wd_form_field:nth-child(13) .wd_form_field_label,
.wd_form_field:nth-child(15) .wd_form_field_label {
	display: inline-block;
	margin-left: 0;
}

.wd_form_field:nth-child(15) { width: 100%; }
.wd_form_field:nth-child(15) .wd_form_field_input { margin-top: 30px !important; }

.wd_form_field:nth-child(15) .wd_form_field_label {
	text-align: left;
	float: left;
	width: 100% !important;
	margin-bottom: 10px;
}

.wd_form_field:nth-child(15) .wd_form_field_input { width: 100%; }

.wd_form_field:nth-child(10) .wd_form_field_input,
.wd_form_field:nth-child(11) .wd_form_field_input,
.wd_form_field:nth-child(12) .wd_form_field_input,
.wd_form_field:nth-child(13) .wd_form_field_input {
	min-width: 0;
}

.wd_parent_category { margin-bottom: 10px !important; }
.wd_form_legend {display: none;}

.wd_form_field_header {
	border-top: 1px solid #a0a1a3;
	padding: 20px 10% 20px 0;
	margin-top: 10px;
	float: left;
}

.wd_form_buttons {
	margin:20px 0 0 0 !important;
	float: left;	
}

input.wd_formbuilder_submit {
	border: none;
	background-color: #0080b9 !important;
	background-image: url(../img/submit-arrow.png);
	background-repeat:no-repeat;
	background-position:0 0;
	color: white;
	font-size: 1em;
	padding: 5px 25px 5px 15px;
	cursor: pointer;
}

input.wd_formbuilder_submit:after { content: ">"; }

.wd_form_footer:after {
	content:"";
  display:block;
  clear: both;
}
